{
  "openapi": "3.1.0",
  "info": {
    "title": "Backwork Coverage Policy API",
    "description": "The Backwork API provides programmatic access to Medicare and commercial payer coverage policies,\nmedical code lookups, prior authorization requirements, and policy change tracking.\n\n## Authentication\nAll endpoints (except /health) require an API key passed in the Authorization header:\n```\nAuthorization: Bearer bwk_live_xxxxx\n```\n\n## Pricing and Rate Limiting\n| Pack | Price | Requests | Requests per minute | Includes |\n| --- | --- | --- | --- | --- |\n| Credits | $20.00 once | 1,000 requests, never expire | 60 | no overage: calls stop at zero |\n| Build | $200.00 per month | 100,000 requests per month | 300 | overage billed per request |\n| Scale | $1,000.00 per month | 1,000,000 requests per month | 1,000 | overage billed per request, webhooks for `compliance.acknowledged` events, [published SLA](https://backworkhealth.com/docs/sla) |\n\nEvery organization starts with 100 free starter credits, granted once; they never expire. Every API key in an organization draws on one balance of request credits and one sliding one-minute rate-limit window. A monthly allowance is spent before purchased Credits, and purchased Credits never expire. On Build and Scale, requests past the allowance bill as overage at $0.002 per request. With only Credits, a call the balance cannot cover returns `402 BILLING_CREDITS_EXHAUSTED`. Some endpoints count as more than one request, for both credits and the rate limit; the rest count as one. See https://backworkhealth.com/docs/rate-limits for the request cost of each endpoint.\n\nRate limit headers are included in all responses:\n- `X-RateLimit-Limit`: Maximum requests per window\n- `X-RateLimit-Remaining`: Requests remaining in current window\n- `X-RateLimit-Reset`: Unix timestamp when window resets\n\n## Response Format\nAll responses follow a consistent structure:\n```json\n{\n  \"success\": true,\n  \"data\": { ... },\n  \"meta\": {\n    \"request_id\": \"req_xxxxx\",\n    \"timestamp\": \"2024-01-15T10:30:00Z\"\n  }\n}\n```\n\n## Error Handling\nErrors include machine-readable codes for programmatic handling:\n```json\n{\n  \"success\": false,\n  \"error\": {\n    \"code\": \"RESOURCE_POLICY_NOT_FOUND\",\n    \"message\": \"Policy not found\",\n    \"docUrl\": \"https://backworkhealth.com/docs/errors#resource-policy-not-found\",\n    \"retryable\": false\n  },\n  \"meta\": { \"request_id\": \"req_xxxxx\", \"timestamp\": \"...\" }\n}\n```\nRetry only when `retryable` is true.\n\n## Production Availability\nOperations marked `x-backwork-availability: unavailable-in-production` are not live yet. Production\nrequests to them return 404 with `COMMERCIAL_SURFACE_UNAVAILABLE`.\n\n## Sandbox\nA synthetic-data sandbox at `https://backworkhealth.com/api/sandbox/v1` mirrors the policy search, code lookup,\nprior-auth check, and coverage evaluation operations with the same request and response shapes. It needs a\n`bwk_test_` key, which `POST /api/sandbox/v1/keys` issues without an account. Test keys work only on the\nsandbox, and the sandbox rejects live keys. Its spec is at `https://backworkhealth.com/api/sandbox/v1/openapi.json`.",
    "version": "1.0.0",
    "contact": {
      "email": "support@backworkhealth.com",
      "url": "https://backworkhealth.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://backworkhealth.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://backworkhealth.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "API health and status endpoints"
    },
    {
      "name": "Certified Releases",
      "description": "Entitlement-gated, immutable commercial release snapshots with evidence-bound metadata"
    },
    {
      "name": "Policies",
      "description": "Coverage policy search, retrieval, and comparison"
    },
    {
      "name": "Codes",
      "description": "Medical code lookup (CPT, HCPCS, ICD-10)"
    },
    {
      "name": "Spending",
      "description": "Medicare spending and utilization by billing code"
    },
    {
      "name": "Drugs",
      "description": "Drug formulary and pharmacy benefit evidence"
    },
    {
      "name": "Coverage",
      "description": "Coverage criteria search and evaluation"
    },
    {
      "name": "Prior Auth",
      "description": "Prior authorization requirements, research, and readiness"
    },
    {
      "name": "Claims",
      "description": "Claim validation and denial-risk scoring"
    },
    {
      "name": "Compliance",
      "description": "Policy change review and acknowledgment workflow"
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoint management and delivery testing"
    },
    {
      "name": "Agent Tools",
      "description": "Machine-readable tool manifest and controlled agent invocation"
    },
    {
      "name": "Reference",
      "description": "Reference data (jurisdictions, payers)"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Public endpoint for monitoring API health status. Returns database and Redis connectivity checks. Used for load balancer health checks. No authentication required.",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy or degraded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Health"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Error: `SERVER_INTERNAL_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVER_INTERNAL_ERROR",
                    "message": "Internal server error",
                    "hint": "Contact support@backworkhealth.com with the request_id from this response",
                    "docUrl": "https://backworkhealth.com/docs/errors#server-internal-error",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "503": {
            "description": "API is unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Health"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/releases/{releaseId}/decisions": {
      "get": {
        "tags": [
          "Certified Releases"
        ],
        "summary": "List decisions from a certified release",
        "description": "Returns only the immutable `derived_decision_v1` allowlist from one `certified_release.v1` snapshot. This surface requires a dedicated API key whose complete scope set is exactly `certified:derived_decision:read`; OAuth credentials, ordinary `read` or `admin` keys, and keys carrying any additional scope are not valid for this endpoint. The key must also hold an active entitlement to the requested release. Responses are JSON only: omit `format` and `_format`, and omit `Accept` or request `application/json` (a wildcard Accept header is also treated as JSON). CSV or FHIR negotiation returns 406. Missing, expired, revoked, schema-incompatible, and unentitled releases intentionally share the same non-enumerating 404 response, sent with `Cache-Control: private, no-store`. An authorized query with no matching decision returns 200 with an empty data array.",
        "operationId": "listCertifiedReleaseDecisions",
        "x-backwork-required-scopes": [
          "certified:derived_decision:read"
        ],
        "x-backwork-scope-match": "exact",
        "x-backwork-response-formats": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "Content-addressed certified release ID assigned to the dedicated key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^bwr_[0-9a-f]{64}$"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "CPT, HCPCS, ICD-10-CM, or ICD-10-PCS code. Input is normalized to uppercase.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 20,
              "pattern": "^[A-Za-z0-9.]+$"
            }
          },
          {
            "name": "code_system",
            "in": "query",
            "description": "Optional code-system filter",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CPT",
                "HCPCS",
                "ICD10CM",
                "ICD10PCS"
              ]
            }
          },
          {
            "name": "payer_code",
            "in": "query",
            "description": "Optional canonical payer-code filter. Input is normalized to uppercase.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[A-Za-z0-9_.-]+$"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Decision ID returned as the prior page's pagination cursor",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^bwd_[0-9a-f]{64}$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Omit this header or request `application/json`. `*/*` also resolves to JSON. Requests negotiating `text/csv` or `application/fhir+json` receive 406.",
            "required": false,
            "schema": {
              "default": "application/json",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Decisions from the certified release",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CertifiedDecision"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/CertifiedDecisionResponseMeta"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: `VALIDATION_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "hint": "Fix the fields listed in details, then send the corrected request",
                    "docUrl": "https://backworkhealth.com/docs/errors#validation-error",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: `AUTH_MISSING`, `AUTH_INVALID_FORMAT`, `AUTH_INVALID_TOKEN`, `AUTH_KEY_NOT_FOUND`, `AUTH_KEY_REVOKED`, `AUTH_KEY_SUSPENDED`, `AUTH_TEST_KEY_SANDBOX_ONLY`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTH_MISSING",
                    "message": "Missing Authorization header",
                    "hint": "Include \"Authorization: Bearer bwk_xxx\" header",
                    "docUrl": "https://backworkhealth.com/docs/errors#auth-missing",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Error: `BILLING_CREDITS_EXHAUSTED`, plan-gate denial",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GateDenialResponse"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "BILLING_CREDITS_EXHAUSTED",
                    "message": "Your organization has no request credits left for this call",
                    "hint": "details.requests_required is this call's cost and details.requests_available is the balance. Retry once the balance covers the call. An organization admin can manage the plan and usage in the Backwork dashboard at https://backworkhealth.com/api-usage",
                    "docUrl": "https://backworkhealth.com/docs/errors#billing-credits-exhausted",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: `AUTHZ_SCOPE_REQUIRED`, `AUTHZ_ORIGIN_NOT_ALLOWED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTHZ_SCOPE_REQUIRED",
                    "message": "Insufficient permissions for this operation",
                    "hint": "details.required_scopes lists the scopes this operation accepts",
                    "docUrl": "https://backworkhealth.com/docs/errors#authz-scope-required",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: `RESOURCE_RELEASE_NOT_AVAILABLE`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "RESOURCE_RELEASE_NOT_AVAILABLE",
                    "message": "Certified release is not available",
                    "hint": "Use the release ID assigned to this dedicated certified-data key",
                    "docUrl": "https://backworkhealth.com/docs/errors#resource-release-not-available",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "406": {
            "description": "Error: `REQUEST_FORMAT_NOT_ACCEPTABLE`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "REQUEST_FORMAT_NOT_ACCEPTABLE",
                    "message": "Requested response format is not available",
                    "hint": "Certified release endpoints support JSON only",
                    "docUrl": "https://backworkhealth.com/docs/errors#request-format-not-acceptable",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Error: `RATE_LIMIT_EXCEEDED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "RATE_LIMIT_EXCEEDED",
                    "message": "Rate limit exceeded",
                    "hint": "Wait the number of seconds in the Retry-After header, then retry",
                    "docUrl": "https://backworkhealth.com/docs/errors#rate-limit-exceeded",
                    "retryable": true
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error: `SERVER_INTERNAL_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVER_INTERNAL_ERROR",
                    "message": "Internal server error",
                    "hint": "Contact support@backworkhealth.com with the request_id from this response",
                    "docUrl": "https://backworkhealth.com/docs/errors#server-internal-error",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policies": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Search and list policies",
        "description": "Search and list coverage policies with filtering and cursor pagination. Supports `keyword` (PostgreSQL full-text) and `semantic` (vector) search modes; semantic results are a single ranked page. Pass `format=csv` or `format=fhir` (or `_format=application/fhir+json`) for CSV or FHIR R4 `CoverageEligibilityResponse` output.",
        "operationId": "listPolicies",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query (max 500 characters)",
            "required": false,
            "schema": {
              "examples": [
                "ultrasound guidance"
              ],
              "type": "string",
              "maxLength": 500
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Search mode. With a `q`, `semantic` counts as 4 requests.",
            "required": false,
            "schema": {
              "default": "keyword",
              "type": "string",
              "enum": [
                "keyword",
                "semantic"
              ]
            }
          },
          {
            "name": "policy_type",
            "in": "query",
            "description": "Filter by policy type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "LCD",
                "Article",
                "NCD",
                "PayerPolicy",
                "Medical Policy",
                "Drug Policy"
              ]
            }
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "description": "Filter by MAC jurisdiction or publisher-indexed state (e.g., JE, OR); shared documents retain their scope label",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 10
            }
          },
          {
            "name": "line_of_business",
            "in": "query",
            "description": "Filter by a document-scoped line of business; shared-market documents never match",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "payer",
            "in": "query",
            "description": "Filter by payer name (partial match). Supported in both `keyword` and `semantic` search modes.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "icd10",
            "in": "query",
            "description": "Filter by ICD-10 code. Returns policies that cover this diagnosis code.",
            "required": false,
            "schema": {
              "examples": [
                "E11.9"
              ],
              "type": "string",
              "maxLength": 10
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by policy status",
            "required": false,
            "schema": {
              "default": "active",
              "type": "string",
              "enum": [
                "active",
                "retired",
                "all"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor (base64url encoded) from the previous response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "default": 50,
              "type": "number",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional data to include (comma-separated: summary, criteria, codes)",
            "required": false,
            "schema": {
              "examples": [
                "summary,criteria,codes"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policy list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolicyListItem"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "description": "Unique request identifier for tracing"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Response timestamp"
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        "search": {
                          "type": "object",
                          "properties": {
                            "query": {
                              "type": "string"
                            },
                            "mode": {
                              "type": "string",
                              "enum": [
                                "keyword",
                                "semantic"
                              ]
                            },
                            "results": {
                              "type": "integer"
                            },
                            "fallback": {
                              "description": "Scoped keyword fallback when vector candidates have no current eligible policy rows",
                              "type": "string",
                              "const": "semantic_scope_not_indexed"
                            }
                          },
                          "required": [
                            "query",
                            "mode"
                          ]
                        },
                        "filters": {
                          "type": "object",
                          "properties": {
                            "policy_type": {
                              "type": "string"
                            },
                            "jurisdiction": {
                              "type": "string"
                            },
                            "line_of_business": {
                              "type": "string"
                            },
                            "payer": {
                              "type": "string"
                            },
                            "icd10": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "active",
                                "retired",
                                "all"
                              ]
                            }
                          },
                          "required": [
                            "status"
                          ]
                        },
                        "attributions": {
                          "$ref": "#/components/schemas/Attributions"
                        }
                      },
                      "required": [
                        "request_id",
                        "timestamp",
                        "pagination",
                        "filters",
                        "attributions"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: `REQUEST_INVALID_CURSOR`, `VALIDATION_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "REQUEST_INVALID_CURSOR",
                    "message": "Invalid pagination cursor",
                    "hint": "Use the cursor value from the previous response",
                    "docUrl": "https://backworkhealth.com/docs/errors#request-invalid-cursor",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: `AUTH_MISSING`, `AUTH_INVALID_FORMAT`, `AUTH_INVALID_TOKEN`, `AUTH_KEY_NOT_FOUND`, `AUTH_KEY_REVOKED`, `AUTH_KEY_SUSPENDED`, `AUTH_TEST_KEY_SANDBOX_ONLY`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTH_MISSING",
                    "message": "Missing Authorization header",
                    "hint": "Include \"Authorization: Bearer bwk_xxx\" header",
                    "docUrl": "https://backworkhealth.com/docs/errors#auth-missing",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Error: `BILLING_FEATURE_REQUIRED`, `BILLING_CREDITS_EXHAUSTED`, plan-gate denial",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GateDenialResponse"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "BILLING_FEATURE_REQUIRED",
                    "message": "This organization's API access does not include this feature",
                    "hint": "An organization admin can manage the plan and usage in the Backwork dashboard at https://backworkhealth.com/api-usage",
                    "docUrl": "https://backworkhealth.com/docs/errors#billing-feature-required",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: `AUTHZ_SCOPE_REQUIRED`, `AUTHZ_ORIGIN_NOT_ALLOWED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTHZ_SCOPE_REQUIRED",
                    "message": "Insufficient permissions for this operation",
                    "hint": "details.required_scopes lists the scopes this operation accepts",
                    "docUrl": "https://backworkhealth.com/docs/errors#authz-scope-required",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Error: `RATE_LIMIT_EXCEEDED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "RATE_LIMIT_EXCEEDED",
                    "message": "Rate limit exceeded",
                    "hint": "Wait the number of seconds in the Retry-After header, then retry",
                    "docUrl": "https://backworkhealth.com/docs/errors#rate-limit-exceeded",
                    "retryable": true
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error: `SERVER_INTERNAL_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVER_INTERNAL_ERROR",
                    "message": "Internal server error",
                    "hint": "Contact support@backworkhealth.com with the request_id from this response",
                    "docUrl": "https://backworkhealth.com/docs/errors#server-internal-error",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policies/{id}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Get policy by ID",
        "description": "Retrieve a single coverage policy by its ID. Use `include` to fetch criteria, codes, attachments, or version history. Policy text sections are fair-use excerpts; the full text is at `source_url`.",
        "operationId": "getPolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Policy ID (e.g., L33831)",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "L33831"
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional data to include (comma-separated: criteria, codes, attachments, versions)",
            "required": false,
            "schema": {
              "examples": [
                "criteria,codes,attachments,versions"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policy retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/PolicyDetail"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "description": "Unique request identifier for tracing"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Response timestamp"
                        },
                        "includes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "attributions": {
                          "$ref": "#/components/schemas/Attributions"
                        },
                        "disclaimer": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "request_id",
                        "timestamp",
                        "includes",
                        "attributions",
                        "disclaimer"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: `VALIDATION_REQUIRED_FIELD`, `VALIDATION_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_REQUIRED_FIELD",
                    "message": "Required field is missing",
                    "docUrl": "https://backworkhealth.com/docs/errors#validation-required-field",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: `AUTH_MISSING`, `AUTH_INVALID_FORMAT`, `AUTH_INVALID_TOKEN`, `AUTH_KEY_NOT_FOUND`, `AUTH_KEY_REVOKED`, `AUTH_KEY_SUSPENDED`, `AUTH_TEST_KEY_SANDBOX_ONLY`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTH_MISSING",
                    "message": "Missing Authorization header",
                    "hint": "Include \"Authorization: Bearer bwk_xxx\" header",
                    "docUrl": "https://backworkhealth.com/docs/errors#auth-missing",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Error: `BILLING_CREDITS_EXHAUSTED`, plan-gate denial",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GateDenialResponse"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "BILLING_CREDITS_EXHAUSTED",
                    "message": "Your organization has no request credits left for this call",
                    "hint": "details.requests_required is this call's cost and details.requests_available is the balance. Retry once the balance covers the call. An organization admin can manage the plan and usage in the Backwork dashboard at https://backworkhealth.com/api-usage",
                    "docUrl": "https://backworkhealth.com/docs/errors#billing-credits-exhausted",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: `AUTHZ_SCOPE_REQUIRED`, `AUTHZ_ORIGIN_NOT_ALLOWED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTHZ_SCOPE_REQUIRED",
                    "message": "Insufficient permissions for this operation",
                    "hint": "details.required_scopes lists the scopes this operation accepts",
                    "docUrl": "https://backworkhealth.com/docs/errors#authz-scope-required",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: `RESOURCE_POLICY_NOT_FOUND`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "RESOURCE_POLICY_NOT_FOUND",
                    "message": "Policy not found",
                    "docUrl": "https://backworkhealth.com/docs/errors#resource-policy-not-found",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Error: `RATE_LIMIT_EXCEEDED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "RATE_LIMIT_EXCEEDED",
                    "message": "Rate limit exceeded",
                    "hint": "Wait the number of seconds in the Retry-After header, then retry",
                    "docUrl": "https://backworkhealth.com/docs/errors#rate-limit-exceeded",
                    "retryable": true
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error: `SERVER_INTERNAL_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVER_INTERNAL_ERROR",
                    "message": "Internal server error",
                    "hint": "Contact support@backworkhealth.com with the request_id from this response",
                    "docUrl": "https://backworkhealth.com/docs/errors#server-internal-error",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policies/changes": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Get policy change feed",
        "description": "Track policy updates and modifications over time, newest first. Useful for monitoring policy changes and keeping systems in sync.",
        "operationId": "getPolicyChanges",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "description": "Only show changes after this ISO8601 timestamp",
            "required": false,
            "schema": {
              "examples": [
                "2024-01-01T00:00:00Z"
              ],
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "policy_id",
            "in": "query",
            "description": "Filter to a specific policy",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "change_type",
            "in": "query",
            "description": "Filter by change type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "updated",
                "retired",
                "codes_changed",
                "criteria_changed",
                "metadata_changed",
                "new_policy"
              ]
            }
          },
          {
            "name": "policy_type",
            "in": "query",
            "description": "Filter by policy type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "LCD",
                "Article",
                "NCD",
                "PayerPolicy"
              ]
            }
          },
          {
            "name": "payer",
            "in": "query",
            "description": "Filter by payer name (partial match)",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from the previous response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "default": 50,
              "type": "number",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Changes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolicyChange"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "description": "Unique request identifier for tracing"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Response timestamp"
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        "filters": {
                          "type": "object",
                          "properties": {
                            "since": {
                              "type": "string"
                            },
                            "policy_id": {
                              "type": "string"
                            },
                            "change_type": {
                              "type": "string",
                              "enum": [
                                "created",
                                "updated",
                                "retired",
                                "codes_changed",
                                "criteria_changed",
                                "metadata_changed",
                                "new_policy"
                              ]
                            },
                            "policy_type": {
                              "type": "string"
                            },
                            "payer": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "required": [
                        "request_id",
                        "timestamp",
                        "pagination",
                        "filters"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: `REQUEST_INVALID_CURSOR`, `VALIDATION_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "REQUEST_INVALID_CURSOR",
                    "message": "Invalid pagination cursor",
                    "hint": "Use the cursor value from the previous response",
                    "docUrl": "https://backworkhealth.com/docs/errors#request-invalid-cursor",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: `AUTH_MISSING`, `AUTH_INVALID_FORMAT`, `AUTH_INVALID_TOKEN`, `AUTH_KEY_NOT_FOUND`, `AUTH_KEY_REVOKED`, `AUTH_KEY_SUSPENDED`, `AUTH_TEST_KEY_SANDBOX_ONLY`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTH_MISSING",
                    "message": "Missing Authorization header",
                    "hint": "Include \"Authorization: Bearer bwk_xxx\" header",
                    "docUrl": "https://backworkhealth.com/docs/errors#auth-missing",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Error: `BILLING_CREDITS_EXHAUSTED`, plan-gate denial",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GateDenialResponse"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "BILLING_CREDITS_EXHAUSTED",
                    "message": "Your organization has no request credits left for this call",
                    "hint": "details.requests_required is this call's cost and details.requests_available is the balance. Retry once the balance covers the call. An organization admin can manage the plan and usage in the Backwork dashboard at https://backworkhealth.com/api-usage",
                    "docUrl": "https://backworkhealth.com/docs/errors#billing-credits-exhausted",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: `AUTHZ_SCOPE_REQUIRED`, `AUTHZ_ORIGIN_NOT_ALLOWED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTHZ_SCOPE_REQUIRED",
                    "message": "Insufficient permissions for this operation",
                    "hint": "details.required_scopes lists the scopes this operation accepts",
                    "docUrl": "https://backworkhealth.com/docs/errors#authz-scope-required",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Error: `RATE_LIMIT_EXCEEDED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "RATE_LIMIT_EXCEEDED",
                    "message": "Rate limit exceeded",
                    "hint": "Wait the number of seconds in the Retry-After header, then retry",
                    "docUrl": "https://backworkhealth.com/docs/errors#rate-limit-exceeded",
                    "retryable": true
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error: `SERVER_INTERNAL_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVER_INTERNAL_ERROR",
                    "message": "Internal server error",
                    "hint": "Contact support@backworkhealth.com with the request_id from this response",
                    "docUrl": "https://backworkhealth.com/docs/errors#server-internal-error",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policies/compare": {
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Compare policies across jurisdictions",
        "description": "Compare coverage policies across MAC jurisdictions for the same procedure codes. National policies are listed separately and also applied to every jurisdiction. Requires the multi-MAC compare plan feature. Send `X-Idempotency-Key` for safe retries; a replayed response carries `meta.cached: true`.",
        "operationId": "comparePolicies",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique request identifier for safe retries (recommended)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyCompareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comparison completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/PolicyCompareResult"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "description": "Unique request identifier for tracing"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Response timestamp"
                        },
                        "idempotency_key": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "cached": {
                          "description": "True when replayed from the idempotency cache",
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "request_id",
                        "timestamp",
                        "idempotency_key"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: `VALIDATION_INVALID_JSON`, `VALIDATION_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_INVALID_JSON",
                    "message": "Invalid JSON body",
                    "docUrl": "https://backworkhealth.com/docs/errors#validation-invalid-json",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: `AUTH_MISSING`, `AUTH_INVALID_FORMAT`, `AUTH_INVALID_TOKEN`, `AUTH_KEY_NOT_FOUND`, `AUTH_KEY_REVOKED`, `AUTH_KEY_SUSPENDED`, `AUTH_TEST_KEY_SANDBOX_ONLY`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTH_MISSING",
                    "message": "Missing Authorization header",
                    "hint": "Include \"Authorization: Bearer bwk_xxx\" header",
                    "docUrl": "https://backworkhealth.com/docs/errors#auth-missing",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Error: `BILLING_CREDITS_EXHAUSTED`, plan-gate denial",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GateDenialResponse"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "BILLING_CREDITS_EXHAUSTED",
                    "message": "Your organization has no request credits left for this call",
                    "hint": "details.requests_required is this call's cost and details.requests_available is the balance. Retry once the balance covers the call. An organization admin can manage the plan and usage in the Backwork dashboard at https://backworkhealth.com/api-usage",
                    "docUrl": "https://backworkhealth.com/docs/errors#billing-credits-exhausted",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: `AUTHZ_SCOPE_REQUIRED`, `AUTHZ_ORIGIN_NOT_ALLOWED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTHZ_SCOPE_REQUIRED",
                    "message": "Insufficient permissions for this operation",
                    "hint": "details.required_scopes lists the scopes this operation accepts",
                    "docUrl": "https://backworkhealth.com/docs/errors#authz-scope-required",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Error: `REQUEST_IDEMPOTENCY_CONFLICT`, `REQUEST_IDEMPOTENCY_IN_PROGRESS`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "REQUEST_IDEMPOTENCY_CONFLICT",
                    "message": "Idempotency key conflict",
                    "hint": "Use a new idempotency key for a request with a different body",
                    "docUrl": "https://backworkhealth.com/docs/errors#request-idempotency-conflict",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Error: `RATE_LIMIT_EXCEEDED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "RATE_LIMIT_EXCEEDED",
                    "message": "Rate limit exceeded",
                    "hint": "Wait the number of seconds in the Retry-After header, then retry",
                    "docUrl": "https://backworkhealth.com/docs/errors#rate-limit-exceeded",
                    "retryable": true
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error: `SERVER_INTERNAL_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVER_INTERNAL_ERROR",
                    "message": "Internal server error",
                    "hint": "Contact support@backworkhealth.com with the request_id from this response",
                    "docUrl": "https://backworkhealth.com/docs/errors#server-internal-error",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Error: `SERVER_IDEMPOTENCY_UNAVAILABLE`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVER_IDEMPOTENCY_UNAVAILABLE",
                    "message": "Idempotency service temporarily unavailable; the request was not executed",
                    "hint": "Retry the same request with the same idempotency key",
                    "docUrl": "https://backworkhealth.com/docs/errors#server-idempotency-unavailable",
                    "retryable": true
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jurisdictions": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "List MAC jurisdictions",
        "description": "Returns all active Medicare Administrative Contractor (MAC) jurisdictions with their associated states. Cached for 24 hours since this is static reference data.",
        "operationId": "listJurisdictions",
        "responses": {
          "200": {
            "description": "Active MAC jurisdictions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Jurisdiction"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "description": "Unique request identifier for tracing"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Response timestamp"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "cache",
                            "db"
                          ]
                        }
                      },
                      "required": [
                        "request_id",
                        "timestamp",
                        "count",
                        "source"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: `AUTH_MISSING`, `AUTH_INVALID_FORMAT`, `AUTH_INVALID_TOKEN`, `AUTH_KEY_NOT_FOUND`, `AUTH_KEY_REVOKED`, `AUTH_KEY_SUSPENDED`, `AUTH_TEST_KEY_SANDBOX_ONLY`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTH_MISSING",
                    "message": "Missing Authorization header",
                    "hint": "Include \"Authorization: Bearer bwk_xxx\" header",
                    "docUrl": "https://backworkhealth.com/docs/errors#auth-missing",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Error: `BILLING_CREDITS_EXHAUSTED`, plan-gate denial",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GateDenialResponse"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "BILLING_CREDITS_EXHAUSTED",
                    "message": "Your organization has no request credits left for this call",
                    "hint": "details.requests_required is this call's cost and details.requests_available is the balance. Retry once the balance covers the call. An organization admin can manage the plan and usage in the Backwork dashboard at https://backworkhealth.com/api-usage",
                    "docUrl": "https://backworkhealth.com/docs/errors#billing-credits-exhausted",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: `AUTHZ_SCOPE_REQUIRED`, `AUTHZ_ORIGIN_NOT_ALLOWED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTHZ_SCOPE_REQUIRED",
                    "message": "Insufficient permissions for this operation",
                    "hint": "details.required_scopes lists the scopes this operation accepts",
                    "docUrl": "https://backworkhealth.com/docs/errors#authz-scope-required",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Error: `RATE_LIMIT_EXCEEDED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "RATE_LIMIT_EXCEEDED",
                    "message": "Rate limit exceeded",
                    "hint": "Wait the number of seconds in the Retry-After header, then retry",
                    "docUrl": "https://backworkhealth.com/docs/errors#rate-limit-exceeded",
                    "retryable": true
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error: `SERVER_INTERNAL_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVER_INTERNAL_ERROR",
                    "message": "Internal server error",
                    "hint": "Contact support@backworkhealth.com with the request_id from this response",
                    "docUrl": "https://backworkhealth.com/docs/errors#server-internal-error",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/codes/lookup": {
      "get": {
        "tags": [
          "Codes"
        ],
        "summary": "Look up a medical code",
        "description": "Looks up medical codes (CPT, HCPCS, ICD-10, NDC) and returns coverage information. When exact match fails and fuzzy is enabled, returns suggestions based on code similarity and description matching.",
        "operationId": "lookupCode",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "The medical code to look up",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 20,
              "examples": [
                "76942"
              ]
            }
          },
          {
            "name": "code_system",
            "in": "query",
            "description": "Hint for code system",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CPT",
                "HCPCS",
                "ICD10CM",
                "ICD10PCS",
                "NDC"
              ]
            }
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "description": "Filter policies by MAC jurisdiction code",
            "required": false,
            "schema": {
              "examples": [
                "JM"
              ],
              "type": "string",
              "maxLength": 10
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated list of additional data to include: rvu, policies, rates. Note that \"rates\" returns an archived 2022-08 UnitedHealthcare-only Transparency in Coverage snapshot, not current multi-payer pricing - see NegotiatedRateSummary.",
            "required": false,
            "schema": {
              "examples": [
                "rvu,policies,rates"
              ],
              "type": "string"
            }
          },
          {
            "name": "fuzzy",
            "in": "query",
            "description": "Enable fuzzy matching on miss",
            "required": false,
            "schema": {
              "default": "true",
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Code lookup result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/CodeLookupData"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "description": "Unique request identifier for tracing"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Response timestamp"
                        },
                        "includes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "fuzzy_enabled": {
                          "type": "boolean"
                        },
                        "attributions": {
                          "$ref": "#/components/schemas/Attributions"
                        }
                      },
                      "required": [
                        "request_id",
                        "timestamp",
                        "includes",
                        "fuzzy_enabled",
                        "attributions"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: `VALIDATION_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Request validation failed",
                    "hint": "Fix the fields listed in details, then send the corrected request",
                    "docUrl": "https://backworkhealth.com/docs/errors#validation-error",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: `AUTH_MISSING`, `AUTH_INVALID_FORMAT`, `AUTH_INVALID_TOKEN`, `AUTH_KEY_NOT_FOUND`, `AUTH_KEY_REVOKED`, `AUTH_KEY_SUSPENDED`, `AUTH_TEST_KEY_SANDBOX_ONLY`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTH_MISSING",
                    "message": "Missing Authorization header",
                    "hint": "Include \"Authorization: Bearer bwk_xxx\" header",
                    "docUrl": "https://backworkhealth.com/docs/errors#auth-missing",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Error: `BILLING_CREDITS_EXHAUSTED`, plan-gate denial",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GateDenialResponse"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "BILLING_CREDITS_EXHAUSTED",
                    "message": "Your organization has no request credits left for this call",
                    "hint": "details.requests_required is this call's cost and details.requests_available is the balance. Retry once the balance covers the call. An organization admin can manage the plan and usage in the Backwork dashboard at https://backworkhealth.com/api-usage",
                    "docUrl": "https://backworkhealth.com/docs/errors#billing-credits-exhausted",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: `AUTHZ_SCOPE_REQUIRED`, `AUTHZ_ORIGIN_NOT_ALLOWED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTHZ_SCOPE_REQUIRED",
                    "message": "Insufficient permissions for this operation",
                    "hint": "details.required_scopes lists the scopes this operation accepts",
                    "docUrl": "https://backworkhealth.com/docs/errors#authz-scope-required",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Error: `RATE_LIMIT_EXCEEDED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "RATE_LIMIT_EXCEEDED",
                    "message": "Rate limit exceeded",
                    "hint": "Wait the number of seconds in the Retry-After header, then retry",
                    "docUrl": "https://backworkhealth.com/docs/errors#rate-limit-exceeded",
                    "retryable": true
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error: `SERVER_INTERNAL_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVER_INTERNAL_ERROR",
                    "message": "Internal server error",
                    "hint": "Contact support@backworkhealth.com with the request_id from this response",
                    "docUrl": "https://backworkhealth.com/docs/errors#server-internal-error",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/codes/batch": {
      "post": {
        "tags": [
          "Codes"
        ],
        "summary": "Batch code lookup",
        "description": "Look up multiple medical codes in a single request. Returns results keyed by code. Maximum 50 codes per request. Fuzzy matching is disabled in batch mode for performance.\n\n**Partial failure handling:** Individual code lookup failures do not abort the batch. A code that cannot be resolved returns `{\"found\": false, \"code\": \"<code>\", \"code_system\": \"UNKNOWN\"}` in the results map instead of causing a request-level error, even when the request includes a `code_system` hint.",
        "operationId": "batchLookupCodes",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codes": {
                    "minItems": 1,
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 20
                    },
                    "description": "Array of medical codes to look up",
                    "examples": [
                      [
                        "99213",
                        "E11.9",
                        "27447"
                      ]
                    ]
                  },
                  "code_system": {
                    "description": "Optional code system hint applied to all codes",
                    "type": "string",
                    "enum": [
                      "CPT",
                      "HCPCS",
                      "ICD10CM",
                      "ICD10PCS",
                      "NDC"
                    ]
                  },
                  "include": {
                    "description": "Comma-separated list of additional data (rvu, policies)",
                    "examples": [
                      "rvu,policies"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "codes"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch lookup results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "$ref": "#/components/schemas/CodeLookupData"
                          },
                          "description": "Results keyed by the trimmed code string"
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "description": "Unique request identifier for tracing"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Response timestamp"
                        },
                        "total_codes": {
                          "type": "integer"
                        },
                        "unique_codes": {
                          "type": "integer"
                        },
                        "includes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "attributions": {
                          "$ref": "#/components/schemas/Attributions"
                        }
                      },
                      "required": [
                        "request_id",
                        "timestamp",
                        "total_codes",
                        "unique_codes",
                        "includes",
                        "attributions"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: `VALIDATION_INVALID_JSON`, `VALIDATION_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "VALIDATION_INVALID_JSON",
                    "message": "Invalid JSON body",
                    "docUrl": "https://backworkhealth.com/docs/errors#validation-invalid-json",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: `AUTH_MISSING`, `AUTH_INVALID_FORMAT`, `AUTH_INVALID_TOKEN`, `AUTH_KEY_NOT_FOUND`, `AUTH_KEY_REVOKED`, `AUTH_KEY_SUSPENDED`, `AUTH_TEST_KEY_SANDBOX_ONLY`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTH_MISSING",
                    "message": "Missing Authorization header",
                    "hint": "Include \"Authorization: Bearer bwk_xxx\" header",
                    "docUrl": "https://backworkhealth.com/docs/errors#auth-missing",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Error: `BILLING_CREDITS_EXHAUSTED`, plan-gate denial",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GateDenialResponse"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "BILLING_CREDITS_EXHAUSTED",
                    "message": "Your organization has no request credits left for this call",
                    "hint": "details.requests_required is this call's cost and details.requests_available is the balance. Retry once the balance covers the call. An organization admin can manage the plan and usage in the Backwork dashboard at https://backworkhealth.com/api-usage",
                    "docUrl": "https://backworkhealth.com/docs/errors#billing-credits-exhausted",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: `AUTHZ_SCOPE_REQUIRED`, `AUTHZ_ORIGIN_NOT_ALLOWED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "AUTHZ_SCOPE_REQUIRED",
                    "message": "Insufficient permissions for this operation",
                    "hint": "details.required_scopes lists the scopes this operation accepts",
                    "docUrl": "https://backworkhealth.com/docs/errors#authz-scope-required",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Error: `RATE_LIMIT_EXCEEDED`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "RATE_LIMIT_EXCEEDED",
                    "message": "Rate limit exceeded",
                    "hint": "Wait the number of seconds in the Retry-After header, then retry",
                    "docUrl": "https://backworkhealth.com/docs/errors#rate-limit-exceeded",
                    "retryable": true
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error: `SERVER_INTERNAL_ERROR`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "SERVER_INTERNAL_ERROR",
                    "message": "Internal server error",
                    "hint": "Contact support@backworkhealth.com with the request_id from this response",
                    "docUrl": "https://backworkhealth.com/docs/errors#server-internal-error",
                    "retryable": false
                  },
                  "meta": {
                    "request_id": "req_abc123",
                    "timestamp": "2024-01-15T10:30:00Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/spending/by-code": {
      "get": {
        "tags": [
          "Spending"
        ],
        "summary": "Get Medicaid spending by code",
        "description": "Returns aggregate Medicaid provider spending statistics per HCPCS code, including totals and year-over-year breakdowns from CMS claims data. Provide `code` or `codes`. Requested codes with no data return zeroed totals. Patient counts are publisher row-level sums, not deduplicated people.",
        "operationId": "getSpendingByCode",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "Single HCPCS code to look up",
            "required": false,
            "schema": {
              "examples": [
                "T1019"
              ],
              "type": "string",
              "minLength": 1,
              "maxLength": 10
            }
          },
          {
            "name": "codes",
            "in": "query",
            "description": "Comma-separated list of HCPCS codes (max 10)",
            "required": false,
            "schema": {
              "examples": [
                "T1019,T1020"
              ],
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Filter the yearly breakdown to a specific year",
            "required": false,
            "schema": {
              "examples": [
                2023
              ],
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spending data keyed by HCPCS code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
[...]
